<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });

   
    
</script>

</body>

</html>