<%- include("partials/header") -%>
<div class="container">
    <div style="position: relative;" class="div1">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
              
                    <div class="intro-contents">
                    <div class="intro-image-wrapper">
                        <h2>hey</h2>
                    </div>
                    <div class="intro-text-wrapper">
                        <h1>GenshinWIki</h1>
                        <p>Your best companion for your Genshin Impact Account</p>
                    </div>
                    <div class="intro-links">
                        <a class="link" href="#">Primogems</a>
                        <a class="link" href="#">Resin</a>
                    </div>
                </div>
            </div>
            </div>

    </div>
    <div class="div2">
        <h1>This is div 2</h1>
    </div>
</div>
<!-- <div class="home-wrapper">
    <div class="container">
        <div class="intro-wrapper">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
              
                    <div class="intro-contents">
                    <div class="intro-image-wrapper">
                        <img src="https://bbs.hoyolab.com/hoyowiki/picture/character/%E9%9B%B7%E7%94%B5%E5%B0%86%E5%86%9B/avatar.png" alt="Intro Image" srcset="">
                    </div>
                    <div class="intro-text-wrapper">
                        <h1>GenshinWIki</h1>
                        <p>Your best companion for your Genshin Impact Account</p>
                    </div>
                    <div class="intro-links">
                        <a class="link" href="#">Primogems</a>
                        <a class="link" href="#">Resin</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="feature-wrapper">
                    <h1>Events</h1>
                    <div class="feature-content">
                        <h2>Best place to know about all the events!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<%- include("partials/footer") -%>